<ng-container *ngIf="article$ | async as article">
  <!--ヘッダー-->
  <app-article-header [article]="article"></app-article-header>

  <!--本文/サイドバー-->
  <div class="container-fluid contents-wrapper p-4">
    <div class="row">
      <div class="container-xl">
        <div class="row">
          <div class="contents p-3">
            <app-article-view [article]="article"></app-article-view>
          </div>
          <div class="contents-sidebar">
            <app-public-sidebar></app-public-sidebar>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
