<header class="p-1 mb-3 border-bottom">
  <div class="container">
    <div class="header-row d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <div>
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <i class="bi bi-bootstrap me-2 fs-4" aria-label="Bootstrap"></i>
        </a>
      </div>

      <div class="dropdown text-end me-3">
        <a
          class="d-block link-dark text-decoration-none dropdown-toggle"
          id="dropdownPlus"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-plus fs-4 d-inline-block" style="height: 28px; width: 28px"></i>
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>

      <div class="dropdown text-end">
        <a
          class="d-block link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img src="https://github.com/mdo.png" alt="mdo" width="28" height="28" class="rounded-circle" />
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
