header {
  .header-row {
    height: 30px;
    position: relative;

    > *:first-child {
      margin-right: auto;
    }

    .dropdown {
      .dropdown-menu {
        > li {
          cursor: pointer;
          font-size: 14px;
        }
      }

      &:hover .dropdown-menu {
        display: block;
        margin-left: -116px;
      }
    }
  }
}
