<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 3rem">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a
        href="#"
        class="nav-link active py-1 border-bottom"
        aria-current="page"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Home"
      >
        <i class="bi bi-speedometer fs-5"></i>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link py-1 border-bottom"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Dashboard"
      >
        <i class="bi bi-journal fs-5"></i>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link py-1 border-bottom"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Orders"
      >
        <i class="bi bi-gear fs-5"></i>
      </a>
    </li>
  </ul>
</div>
