<div
  *ngIf="display"
  class="cover filter"
  [ngClass]="{
    'texture-dot': filterType === 'dot'
  }"
  [ngStyle]="{
    height: height + 'px',
    'max-height': height + 'px'
  }"
>
  <div class="cover-image">
    <video
      *ngIf="videoUrl"
      class="cover-image-video"
      playsinline=""
      autoplay=""
      loop=""
      muted=""
      poster="{{ imageUrl }}"
    >
      <source src="{{ videoUrl }}" />
    </video>
    <img *ngIf="!videoUrl" class="cover-image-img" src="{{ imageUrl }}" alt="cover image" />
  </div>
</div>
